In [3]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import pandas as pd

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '52be40ee-63df-4191-8382-197ef567656b',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  #print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
df = pd.json_normalize(data['data'])
df['timestamp'] = pd.to_datetime('now')
df

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,...,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,timestamp
0,1,Bitcoin,BTC,bitcoin,10815,2010-07-13T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",2.100000e+07,1.962025e+07,19620250,...,51.1507,9.044351e+11,NaN,2024-02-06T18:44:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-07 00:15:39.179073
1,1027,Ethereum,ETH,ethereum,8380,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,1.201836e+08,120183642.226853,...,17.1187,2.828014e+11,NaN,2024-02-06T18:44:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-07 00:15:39.179073
2,825,Tether USDt,USDT,tether,74213,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,9.623650e+10,99600769237.769424,...,5.8229,9.955739e+10,NaN,2024-02-06T18:43:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2024-02-07 00:15:39.179073
3,1839,BNB,BNB,bnb,2053,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",NaN,1.495461e+08,149546113.669381,...,2.7385,4.524035e+10,NaN,2024-02-06T18:43:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-07 00:15:39.179073
4,5426,Solana,SOL,solana,625,2020-04-10T00:00:00.000Z,"[pos, platform, solana-ecosystem, cms-holdings...",NaN,4.362066e+08,568877129.354352,...,2.5266,5.443377e+10,NaN,2024-02-06T18:44:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-07 00:15:39.179073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,14341,BitShiba,SHIBA,bitshiba-token,18,2021-11-11T09:19:03.000Z,"[memes, binance-smart-chain]",1.000000e+15,0.000000e+00,1000000000000000,...,0.0000,2.580026e+06,NaN,2024-02-06T18:44:00.000Z,1839.0,BNB Smart Chain (BEP20),BNB,bnb,0xB84cBbF09b3Ed388a45cD875ebba41a20365e6e7,2024-02-07 00:15:39.179073
4996,28348,Miracle Play,MPT,miracle-play,1,2023-11-03T09:18:19.000Z,[],3.000000e+09,0.000000e+00,356450261.34348,...,0.0000,4.072607e+07,NaN,2024-02-06T18:43:00.000Z,3890.0,Polygon,MATIC,polygon,0x87d6F8eDECcbCcA766D2880D19b2C3777D322C22,2024-02-07 00:15:39.179073
4997,10695,MoonEdge,MOONED,moonedge,19,2021-06-28T00:00:00.000Z,"[launchpad, skyvision-capital-portfolio]",2.000000e+08,0.000000e+00,0,...,0.0000,1.795442e+06,NaN,2024-02-06T18:43:00.000Z,3890.0,Polygon,MATIC,polygon,0x7e4c577ca35913af564ee2a24d882a4946ec492b,2024-02-07 00:15:39.179073
4998,25018,PUG AI,PUGAI,pug-ai,5,2023-05-07T00:32:53.000Z,[memes],1.000000e+14,0.000000e+00,100000000000000,...,0.0000,8.918610e+04,NaN,2024-02-06T18:43:00.000Z,5426.0,Solana,SOL,solana,PugAiDuaQ5hzicBHAW9qrQQ8qi4B6sh3n7PknKhyjeX,2024-02-07 00:15:39.179073
4999,16523,Mad Viking Games,MVG,mad-viking-games,7,2021-12-28T02:25:19.000Z,[],1.400000e+10,0.000000e+00,0,...,0.0000,1.125730e+07,NaN,2024-02-06T18:44:00.000Z,1839.0,BNB Smart Chain (BEP20),BNB,bnb,0xc45de8ab31140e9ced1575ec53ffffa1e3062576,2024-02-07 00:15:39.179073

In [4]:
def api_runner():
    global df
    url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
    parameters = {
      'start':'1',
      'limit':'5000',
      'convert':'USD'
    }
    headers = {
      'Accepts': 'application/json',
      'X-CMC_PRO_API_KEY': '52be40ee-63df-4191-8382-197ef567656b',
    }

    session = Session()
    session.headers.update(headers)

    try:
      response = session.get(url, params=parameters)
      data = json.loads(response.text)
      #print(data)
    except (ConnectionError, Timeout, TooManyRedirects) as e:
      print(e)
    
    df2 = pd.json_normalize(data['data'])
    df2['timestamp'] = pd.to_datetime('now')
    #df = df._append(df2)
    df
    
    if not os.path.isfile(r'C:\Users\jinal\OneDrive\Desktop\JINAL\portforioprojects\Automating_crypto_API\API.csv'):
        df.to_csv(r'C:\Users\jinal\OneDrive\Desktop\JINAL\portforioprojects\Automating_crypto_API\API.csv', header='column_names')
    else:
        df.to_csv(r'C:\Users\jinal\OneDrive\Desktop\JINAL\portforioprojects\Automating_crypto_API\API.csv', mode='a', header=False)
        
    #Then to read in the file: df = pd.read_csv(r'C:\Users\alexf\OneDrive\Documents\Python Scripts\API.csv')

In [9]:
import os
from time import time
from time import sleep

for i in range(333):
    api_runner()
    print('API runner completed successfull')
    sleep(60) #sleep for 1 minute
exit()

API runner completed successfull

KeyboardInterrupt:

In [5]:
df23= pd.read_csv(r'C:\Users\jinal\OneDrive\Desktop\JINAL\portforioprojects\Automating_crypto_API\API.csv')
df23

,Unnamed: 0,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,...,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,timestamp
0,0,1,Bitcoin,BTC,bitcoin,10814,2010-07-13T00:00:00.000Z,"['mineable', 'pow', 'sha-256', 'store-of-value...",2.100000e+07,1.962007e+07,...,51.1792,9.011825e+11,NaN,2024-02-06T15:13:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-06 20:44:40.303078
1,1,1027,Ethereum,ETH,ethereum,8380,2015-08-07T00:00:00.000Z,"['pos', 'smart-contracts', 'ethereum-ecosystem...",NaN,1.201836e+08,...,17.0304,2.801727e+11,NaN,2024-02-06T15:13:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-06 20:44:40.303078
2,2,825,Tether USDt,USDT,tether,74195,2015-02-25T00:00:00.000Z,"['payments', 'stablecoin', 'asset-backed-stabl...",NaN,9.623650e+10,...,5.8442,9.950667e+10,NaN,2024-02-06T15:12:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2024-02-06 20:44:40.303078
3,3,1839,BNB,BNB,bnb,2053,2017-07-25T00:00:00.000Z,"['marketplace', 'centralized-exchange', 'payme...",NaN,1.495461e+08,...,2.7457,4.517105e+10,NaN,2024-02-06T15:12:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-06 20:44:40.303078
4,4,5426,Solana,SOL,solana,625,2020-04-10T00:00:00.000Z,"['pos', 'platform', 'solana-ecosystem', 'cms-h...",NaN,4.362071e+08,...,2.5065,5.377585e+10,NaN,2024-02-06T15:13:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-02-06 20:44:40.303078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,4995,29246,Sonata Network,SONA,sonata-network,1,2024-02-01T05:45:41.000Z,"['ethereum-ecosystem', 'launchpad']",1.000000e+09,0.000000e+00,...,0.0000,3.784695e+05,NaN,2024-02-06T18:11:00.000Z,1027.0,Ethereum,ETH,ethereum,0xcefde37817da4fc51ddc24e3820ad316784ee04b,2024-02-06 23:43:41.643835
49996,4996,27289,Savvy,SVY,savvy,9,2023-06-29T04:36:31.000Z,[],1.000000e+07,0.000000e+00,...,0.0000,3.070597e+06,NaN,2024-02-06T18:11:00.000Z,11841.0,Arbitrum,ARB,arbitrum,0x43aB8f7d2A8Dd4102cCEA6b438F6d747b1B9F034,2024-02-06 23:43:41.643835
49997,4997,28348,Miracle Play,MPT,miracle-play,1,2023-11-03T09:18:19.000Z,[],3.000000e+09,0.000000e+00,...,0.0000,4.063934e+07,NaN,2024-02-06T18:11:00.000Z,3890.0,Polygon,MATIC,polygon,0x87d6F8eDECcbCcA766D2880D19b2C3777D322C22,2024-02-06 23:43:41.643835
49998,4998,27963,Shiba V Pepe,SHEPE,shiba-v-pepe,6,2023-09-01T15:49:02.000Z,[],4.206900e+14,0.000000e+00,...,0.0000,1.388340e+05,NaN,2024-02-06T18:12:00.000Z,1027.0,Ethereum,ETH,ethereum,0x0b0a8c7c34374c1d0c649917a97eee6c6c929b1b,2024-02-06 23:43:41.643835
49999,4999,13246,LiquidDriver,LQDR,liquid-driver,168,2021-10-26T05:02:36.000Z,['olympus-pro-ecosystem'],3.000000e+07,0.000000e+00,...,0.0000,1.035612e+07,NaN,2024-02-06T18:11:00.000Z,1027.0,Ethereum,ETH,ethereum,0x98504C8afa7c74c87a0641a7bb0F7968d4e8F471,2024-02-06 23:43:41.643835

In [6]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [7]:
# Now let's look at the coin trends over time

df3 = df.groupby('name', sort=False)[['quote.USD.percent_change_1h','quote.USD.percent_change_24h','quote.USD.percent_change_7d','quote.USD.percent_change_30d','quote.USD.percent_change_60d','quote.USD.percent_change_90d']].mean()
df3

,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.percent_change_30d,quote.USD.percent_change_60d,quote.USD.percent_change_90d
name,,,,,,
Bitcoin,-0.25215,1.13574,-0.90164,-2.52785,-1.70960,21.42251
Ethereum,-0.00161,2.51850,-0.88418,4.89808,0.07958,24.00117
Tether USDt,0.01136,0.07470,-0.05826,-0.10887,-0.06703,-0.05067
BNB,-0.01051,0.58192,-2.44507,-1.23183,27.69967,22.62374
Solana,0.15413,0.14779,-9.02725,0.87177,31.84148,121.99698
...,...,...,...,...,...,...
BitShiba,-0.02177,-0.48298,-10.75956,-37.10425,-32.53081,-20.24269
Miracle Play,-1.31491,-5.22597,-10.38779,-23.76298,-35.52892,1.03958
MoonEdge,0.00000,-4.72457,-5.85727,107.46097,319.17525,356.09912
PUG AI,-0.08978,-1.15181,-10.52623,-33.70615,-33.19139,26.93469
Mad Viking Games,0.00000,1.87929,-1.40116,-26.87566,-50.67283,-50.67283

In [8]:
df4 = df3.stack()
df4

name
Bitcoin           quote.USD.percent_change_1h     -0.25215
                  quote.USD.percent_change_24h     1.13574
                  quote.USD.percent_change_7d     -0.90164
                  quote.USD.percent_change_30d    -2.52785
                  quote.USD.percent_change_60d    -1.70960
                                                    ...
Mad Viking Games  quote.USD.percent_change_24h     1.87929
                  quote.USD.percent_change_7d     -1.40116
                  quote.USD.percent_change_30d   -26.87566
                  quote.USD.percent_change_60d   -50.67283
                  quote.USD.percent_change_90d   -50.67283
Length: 29808, dtype: float64

In [9]:
df4.count()

29808

In [10]:
df5 = df4.to_frame(name='values')
df5

                                                 values
name
Bitcoin          quote.USD.percent_change_1h   -0.25215
                 quote.USD.percent_change_24h   1.13574
                 quote.USD.percent_change_7d   -0.90164
                 quote.USD.percent_change_30d  -2.52785
                 quote.USD.percent_change_60d  -1.70960
...                                                 ...
Mad Viking Games quote.USD.percent_change_24h   1.87929
                 quote.USD.percent_change_7d   -1.40116
                 quote.USD.percent_change_30d -26.87566
                 quote.USD.percent_change_60d -50.67283
                 quote.USD.percent_change_90d -50.67283

[29808 rows x 1 columns]

In [11]:
#Because of how it's structured above we need to set an index. I don't want to pass a column as an index for this dataframe
#So I'm going to create a range and pass that as the dataframe. You can make this more dynamic, but I'm just going to hard code it


index = pd.Index(range(29808))

# Set the above DataFrame index object as the index
# using set_index() function
df6 = df5.reset_index()
df6

# If it only has the index and values try doing reset_index like "df5.reset_index()"

                   name                       level_1    values
0               Bitcoin   quote.USD.percent_change_1h  -0.25215
1               Bitcoin  quote.USD.percent_change_24h   1.13574
2               Bitcoin   quote.USD.percent_change_7d  -0.90164
3               Bitcoin  quote.USD.percent_change_30d  -2.52785
4               Bitcoin  quote.USD.percent_change_60d  -1.70960
...                 ...                           ...       ...
29803  Mad Viking Games  quote.USD.percent_change_24h   1.87929
29804  Mad Viking Games   quote.USD.percent_change_7d  -1.40116
29805  Mad Viking Games  quote.USD.percent_change_30d -26.87566
29806  Mad Viking Games  quote.USD.percent_change_60d -50.67283
29807  Mad Viking Games  quote.USD.percent_change_90d -50.67283

[29808 rows x 3 columns]

In [12]:
df7 = df6.rename(columns={'level_1': 'percent_change'})
df7

                   name                percent_change    values
0               Bitcoin   quote.USD.percent_change_1h  -0.25215
1               Bitcoin  quote.USD.percent_change_24h   1.13574
2               Bitcoin   quote.USD.percent_change_7d  -0.90164
3               Bitcoin  quote.USD.percent_change_30d  -2.52785
4               Bitcoin  quote.USD.percent_change_60d  -1.70960
...                 ...                           ...       ...
29803  Mad Viking Games  quote.USD.percent_change_24h   1.87929
29804  Mad Viking Games   quote.USD.percent_change_7d  -1.40116
29805  Mad Viking Games  quote.USD.percent_change_30d -26.87566
29806  Mad Viking Games  quote.USD.percent_change_60d -50.67283
29807  Mad Viking Games  quote.USD.percent_change_90d -50.67283

[29808 rows x 3 columns]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.catplot(x='percent_change', y='values', hue='name', data=df7, kind='point')